*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #fefae0;

}

.over-wrap {
    display: flex;
    justify-content: space-between;
    padding: 80px 80px 10px 80px;
    margin-bottom: 0;
}

.over-wrap .span {
    color: #ffb703;
    font-size:30px;
    cursor:pointer;
}

.over-wrap h1 {
    font-size: 35px;
    line-height: 1.2;
    color: white;
    font-weight: 900;
}

.over-wrap h1 span {
    color: red;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
 @media screen and (max-width: 766px) {
    .over-wrap {
        padding: 20px 20px 0 20px;
    }
    .over-wrap h1 {
        font-size: 25px;
        line-height: 1.2;
        font-weight: 800;
    }
    

    .over-wrap .span {
       font-size: 18px;
    }
 }


/* .nav-bar {
    position: relative;
    z-index: 999;
    width: 100%;
    margin-top: 0;
}
nav {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: inherit;
}

.nav-bar ul li {
    margin: 10px 20px;
    display: inline-block;
    list-style: none;
}

.nav-bar h1 {
    margin-left: 100px;
    font-size: 35px;
    line-height: 1.2;
    color: white;
}

.nav-bar h1 span {
    color: red;
}

.nav-bar ul {
    margin-right: 100px;
}

.nav-bar ul li a {
    text-decoration: none;
    font-size: 17.5px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: white;
}
.nav-bar ul li #home {
    color: red;
    font-weight: 600;
    font-size: 18px;
}
.nav-bar ul li a:hover {
    color: yellow;
    cursor:pointer;
} */
.container {
    max-width: 920px;
    margin-top: 100px;
    width: 100%;
    color: white;
}

.top-part {
    background: url(first1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0;
    position: relative;
    height:auto;
    z-index: 1;
    top: 0;
    margin-bottom: 100px;
    padding-bottom: 50px;

}
.sec-one {
    display: block;
}
.best-text span {
    color: red;
    transition: 1s ease;
}
.best-text span {
    animation: blinker3 1s ease-in-out infinite alternate;  
  }
  @keyframes blinker3 { to { opacity: 0; } }
.top-part .col-md-6 {
    display: block;
    width: calc(100%/2);
    flex: 0 0 auto;
    
}

.best-text {
    margin: 20px 0;
}

.best-text h1 {
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.best-para {
    font-size: 12px;
    margin-bottom: 50px;
}

.best-btn button{
    padding: 5px 15px;
    border-radius: 10px;
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.best-btn button:hover {
    opacity: 70%;
    cursor: pointer;
}

@media screen and (max-width:766px) {
    
.best-text h1 {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 1px;
    
}

.best-text span {
    font-size: 25px;
}

.best-para {
    font-size: 11px;
    margin-bottom: 35px;
}

.best-btn button{
    padding: 3px 12px;
    border-radius: 8px;
}
    
}

.image img {
    width: 80%;
}
#image1 {
    display: flex;
    text-align: center;
   align-items: center; 
    opacity: 20%;
}


.sec-two {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 100px; 
   
}

.sec-two .row {
    position: relative;
    width: 100%;
    margin: auto;
}


.sec-two .col-md-4 {
    width: calc(100%/3);
}

.geeks {
position: relative;
width: 100%;
height: auto;
overflow: hidden;
margin: 0 auto;
cursor: pointer;
border-radius: 10px;
}

.geeks .image {
    display: block;
width: 100%;
height: 55vh;
transition: 1s all ease;
}

.tagnam {
top: 50%;
left: 50%;
text-align: center;
transform: translate(-50%,-50%);
position: absolute;
}

.geeks:hover .image {
transform: scale(1.2);

}

.tagnam h1 {
    color: white;
font-size: 45px;
font-weight: 800;
}
.tagnam p {
    color: white;
font-size: 12px;

}
.adj img {
width: 50px;
vertical-align: middle;
margin: 80px 0 30px 0;
}
.adj2 img {
    width: 30px;
    vertical-align: middle;
    margin: 70px 0 30px 0;
    }
.adj1 img {
    width: 30px;
    vertical-align: middle;
    margin: 60px 0 30px 0;
        }
.adj {
text-align: center;

}


.sec-three {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 70px;
    
}


.sec-three-one img {
    width: 80%;
    height: 60vh;
}

.sec-three .col-md-6 {
    width: calc(100%/2);
    height: auto;
}

.sec-three-two {
    text-align: left;
    width: 100%;
}

.sec-three-content {
    width: 80%;
}

.abt-us{
    color: rgba(163, 106, 127, 0.4);
    font-size: 50px;
    font-weight: 700;
    margin: 0 !important;
}

.push-slf {
    color: #ffb703;
    font-size: 30px;
    font-weight: 600;
}

.we-serv {
    font-size: 30px;
    font-weight: 600px;
}


.sec-four {
    width: 80%;
    margin: auto;
    text-align: center;
}
.sec-four .col-md-6{
    margin: 30px 0;
    width: calc(100%/2);
    height: auto;
}
.parent-four-one {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: auto;
}

.parent-four {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: auto;
}

.parent-four .child button {
    top: 70%;
    left: 0;
    text-align: left;
    position: absolute;
    padding: 5px 30px 5px 15px;
    border: transparent;
    background-color: #ffb703;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.parent-four .child button i {
    margin-left: 25px;
    font-size: 30px;
}

.parent-four:hover img {
    transform: scale(1.2);
}

.sec-four img {
    transition: 1s all ease;
    display: block;
    width: 100%;
    height: 40vh;
}

.sec-four span {
    color: #ffb703;
}
.sec-four h1 {
    margin: 20px 0;
    font-size: 40px;
    font-weight: 700;
}

.sec-five {
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    
}
.sec-five .row {
    
    display: flex;
    justify-content: space-evenly;
}

.sec-five .col-md-4 {
    width: calc(100%/3);
}
.sec-five .col-md-4 img {
    width: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.sec-five .col-md-4 h3 {
    font-size: 20px;
    font-weight: 700;
}

.sec-five .col-md-4 p {
    font-size: 13px;
    font-weight: 600;
}

.sec-five .sec-five-content {
    box-shadow: 0 0 9px 0 rgb(0 0 0 / 40%);
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    transition: 1s all ease;
    border-radius: 10px;
    background: #fff;
}
.sec-five .sec-five-content:hover {
    transform: scale(1.05);
}

.sec-five .sec-five-content h3{
    color: #ffb703;
}
.sec-five h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 35px;
}

.sec-five span {
    color: #ffb703;
}


footer {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #1b263b;
}

.container-footer {
    width: 85%;
}

.container-footer .row{
    color: white;
    overflow: hidden;
    margin: 80px 20px;
    cursor: pointer;
    text-align: left;
}

.container-footer .row .col-md-2 li {
    list-style: none;
    margin: 10px 0;
}

.container-footer .row .col-md-2 p {
    font-weight: bold;
}
.container-footer .row ul {
    padding: 0 !important;
}
.container-footer .col-md-3 h1 {
    font-size: 32px;
    font-weight: 700;
}

.container-footer .col-md-2 a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:766px) {

    .sections-container {
        background: #d8e2dc;
    }

    .sec-two .col-md-4{
        width: calc(100%);
        margin-bottom: 30px;
    }
     
    .sec-two .col-md-4:last-child {
        margin-bottom: 0;
    }

    .sec-three {
        width: 100%;
    }
    .sec-three .col-md-6 {
        width: calc(100%);
        margin-bottom: 20px;
        padding-bottom: 10px;
        height: auto;
    }

    .sec-three .col-md-6 img {
        height: 30vh;
        border-radius: 20px;
        border:1px solid rgba(280, 125, 236, 0.3);
    }

    .sec-three .col-md-6 .sec-three-content {
        text-align: left;
        width: 80%;
        margin: auto;
    }

    .sec-three .col-md-6 .sec-three-content .push-slf {
        font-size: 20px;
    }
    .sec-three .col-md-6 .sec-three-content .we-serv {
        font-size: 17px;
    }
    .sec-three .col-md-6 .sec-three-content p {
        font-size: 14px;
    }

    .sec-four .col-md-6 {
        width: calc(100%);
        height: auto;
    }
    
    .sec-five .col-md-4 {
        width: calc(100%);
        margin-bottom: 20px;
        height: auto;
    }

    .sec-five .sec-five-content {
        background: #fff;
    }

    .sec-five .col-md-4:last-child {
        margin-bottom: 0;
    }
    .container-footer .col-md-2 li {
        font-size: 13px;
        
    }

    .container-footer .col-md-3 h1 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .container-footer .col-md-3 .last-foot {
        font-size: 13px; 
    }

    .top-part {
        margin-bottom: 0;
    }
    .sections-container {
        padding: 50px 0;
    }

    footer {
        margin-top: 0;
    }

}

@media screen and (max-width: 500px) {
    .sec-two .col-md-4 h1 {
        font-size: 38px;
    }

    .sec-two .col-md-4 p {
        font-size: 10px;
    }
    
}